<h2>Refferal list</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Refferal code</th>
      <th scope="col">Reffered By</th>
      <th scope="col">Refferals</th>
      <th scope="col">Registered On</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>John Doe</td>
      <td>Pk23423422</td>
      <td>-</td>
      <td>2</td>
      <td>Mar 5,2018 5:30 PM</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>John Snow</td>
      <td>Pk23423422</td>
      <td>Maester Aeman</td>
      <td>0</td>
      <td>Mar 5,2018 5:30 PM</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Robb</td>
      <td>Pk23423422</td>
      <td>Edd Stack</td>
      <td>2</td>
      <td>Mar 5,2018 5:30 PM</td>
    </tr>
  </tbody>
</table>
