<h2>Content list
   <a class="nav-link" routerLink="/notification" class="inline-block pull-right" title="Add new content">
            <!-- Add content -->
            <i class="material-icons">add_circle</i>
          </a>
</h2>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Favorites</th>
        <th scope="col">Is Paid</th>
        <th scope="col">Created date</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
  
      <tr *ngFor="let item of content | async;index as i">
          <th scope="row">{{i+1}}</th>
          <td>{{item.title}}</td>
          <td><a [routerLink]="['/contentDetails',item.id]">Description</a></td>
          <td>10</td>
          <td>Yes</td>
          <td>{{service.formateDate(item.createdDate)}}
             <a (click)="setModelToEdit(item)" [routerLink]="['/notification',item.id]" class="inline-block" title="Edit Content">
          <!-- Edit -->
          <i class="material-icons">mode_edit</i>
        </a> 
        
          </td>
        </tr>
    
    
    </tbody>
  </table>
  